lab7-restservicedemo/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    ADDRESS*,
    PERSON*)>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    CITY CDATA #IMPLIED
    POSTALCODE CDATA #IMPLIED
    STREET CDATA #IMPLIED
    HOUSENUMBER CDATA #IMPLIED
    RESIDENTID CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

